/* Styling for overall body */
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #bdc3c7;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    animation: fadeIn 1s ease-in-out;
}

header {
    text-align: center;
    padding: 20px;
    background-color:#95a5a6;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

header img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

header img:hover {
    transform: scale(1.05);
}

header h1 {
    font-size: 2.5em;
    font-family: 'Roboto', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

blockquote {
    font-size: 1.5em;
    margin: 10px auto;
    max-width: 800px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    border-left: 4px solid #777;
    padding-left: 15px;
    margin-bottom: 20px;
}
/* styling for embeded video */
iframe {
    width: 707px;
    height: 400px;
}

#artist {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#release-date,
#rating {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
#rating span {
    color: rgb(248, 248, 6);
}

/* Styling for lyrics */
#lyrics {
    background-color: #1abc9c;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    overflow-y: auto;
    height: 400px;
    margin-bottom: 20px;
}

#lyrics h2 {
    text-align: center;
}

#lyrics p {
    margin-bottom: 15px;
    white-space: pre-line;
    font-family: 'Reddit mono', monospace;
    text-indent: 20px;
}


